.wordBlock{
   display: flex;
   align-items: center;
   padding: 5px;
}

.wordInfo{
   font-size: 12px;
   color: #111;
   margin-left: 4px;
}

.word{
   background-color: #ccc;
   border-radius: 4px;
   color: #333;
   font-size: 12px;
   padding: 6px 10px;
   font-weight: 700;
   text-align: center;
}